<md-toolbar class="md-tall bgc-light-blue-A700">
      <span flex></span>
      <h2 class="ml+ md-toolbar-tools-bottom fs-display-4 display-block">
        Memo
    </h2>
</md-toolbar>

<md-content class="md-padding" >

<section data-ng-controller="MemosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Memos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="memo in memos" data-ng-href="/#!/memos/{{memo._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="memo.created | date:'medium'"></span>
				by
				<span data-ng-bind="memo.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="memo.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!memos.$resolved || memos.length">
    	No Memos yet, why don't you <a href="/#!/memos/create">create one</a>?
    </div>
</section>
</md-content>
