<!DOCTYPE html>
<html ng-app="cashew">
<head>
  <title>Deployd login form</title>
  <link rel="stylesheet" href="lib/lumx/dist/lumx.css">
  <link rel="stylesheet" href="lib/mdi/materialdesignicons.css">
  <link rel="stylesheet" href="css/theme.css">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body>

  <div class="container">
    <h1>Register</h1>

    <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
            <form>
                <lx-text-field label="Email" fixed-label="true" icon="email">
                    <input type="text" id="username" ng-model="textFields.fixedFirstName">
                </lx-text-field>

                <lx-text-field label="Password" fixed-label="true" icon="lock-open">
                    <input type="password" id="password" ng-model="textFields.password">
                </lx-text-field>
                <lx-text-field label="Confirm Password" fixed-label="true" icon="lock">
                    <input type="password" id="confirm-password" ng-model="textFields.confirmPassword">
                </lx-text-field>
                <button type="submit" class="btn btn--m btn--blue btn--raised" lx-ripple>Sign up</button>
                <button class="btn btn--m btn--blue btn--flat" lx-ripple>
                <a href="/">Home</a></button>
            </form>
        </div>
      </div>



  </div>
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/velocity/velocity.js"></script>
  <script src="lib/moment/min/moment-with-locales.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/lumx/dist/lumx.js"></script>
  <script type="text/javascript" src="/dpd.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript">
    $('form').submit(function() {
      var username = $('#username').val();
      var password = $('#password').val();
      var confirmPassword = $('#confirm-password').val();

      if (!username) {
        alert("Username is required");
      } else if (!password) {
        alert("Password is required");
      } else if (password !== confirmPassword) {
        alert("Passwords do not match");
      } else {
        dpd.users.post({username: username, password: password}, function(user, error) {
          if (error) {
            alert(JSON.stringify(error));
          } else {
            location.href = "/index.html";
          }
        });
      }

      return false;
    });
  </script>
</body>
</html>
