/*!
 * Lovell Felix
 * Web And Mobile Application Developer
 */


/*
    -------------------------------------------------- */

    html,
    body {
      height: 100%;
      margin:0;
      border:0;
      font-family:$font;
      color:$text;
      -webkit-font-smoothing:antialiased;
      text-rendering:optimizelegibility;
      font-size:17px;
      background-color: #ffffff;
    }

    /*sticky footer */

    #wrap {
      min-height: 99%;
      height: auto;
      margin: 0 auto -60px;
      padding: 0 0 60px;
    }

    #footer {
      height: 60px;
    }
