<!--	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a data-ui-sref="home" class="navbar-brand">MEAN.JS</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{active: $state.includes(item.state)}" class="{{item.class}}" dropdown="item.type === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
						<a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li data-ui-sref-active="active">
				<a data-ui-sref="authentication.signup" target="_self">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li data-ui-sref-active="active">
				<a data-ui-sref="authentication.signin" target="_self">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle user-header-dropdown-toggle" data-toggle="dropdown">
					<img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"/>
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li data-ui-sref-active="active">
						<a data-ui-sref="settings.profile">Edit Profile</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="settings.picture">Change Profile Picture</a>
					</li>
					<li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
						<a data-ui-sref="settings.password">Change Password</a>
					</li>
					<li data-ui-sref-active="active">
						<a data-ui-sref="settings.accounts">Manage Social Accounts</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/api/auth/signout" target="_self">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav> -->

<lx-dialog class="dialog dialog--l" id="about" onclose="closingDialog()">
  <div class="dialog__header">
    <div class="toolbar bgc-light-blue-500 pl++">
      <span class="toolbar__label tc-white fs-title">
        Arawak {{title}}
      </span>

      <div class="toolbar__right">
        <button class="btn btn--l btn--white btn--icon">
          <i class="mdi mdi-leaf"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="dialog__content">
    <span class="fs-title display-block ml++ mt+++">Arawak v0.0.1-alpha</span>
    <span class="fs-caption display-block ml++">Copyright © 2015 Arawak.</span>
    <br />
    <p class="ml+++">This program is free software: you can redistribute it and/or modify
      <br />it under the terms of the GNU General Public License as published by
      <br />the Free Software Foundation, either version 3 of the License, or
      <br />(at your option) any later version.
      <br />
      <br />This program is distributed in the hope that it will be useful,
      <br />but WITHOUT ANY WARRANTY; without even the implied warranty of
      <br />MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
      <br />GNU General Public License for more details.
      <br />
      <br />You should have received a copy of the GNU General Public License
      <br />along with this program. If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses</a>.</p>
    <p class="p++">This product also includes code written by other third parties. Additional details regarding these and other third party code included in this product, including applicable copyright, legal and licensing notices, are available in the "licenses" directory
      under the Arawak installation directory.</p>
    <br />
  </div>
  <div class="dialog__actions">
    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
  </div>
</lx-dialog>

<div layout="column" layout-fill data-ng-controller="HeaderController">
  <md-toolbar md-scroll-shrink class="bgc-toolbar__primary">
    <div class="md-toolbar-tools">
      <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="toggleSidenav('left')" data-ng-show="authentication.user">
        <i class="mdi mdi-menu"></i>
      </button>
      <span hide-md hide-sm show-gt-md class="fs-title tc-white-1">
        <h1 class="main-logo">
          <a ui-sref="home" class="main-logo__link" lx-ripple="white" data-ng-show="authentication.user">
            <span class="ripple bgc-white"></span>
            <img src="modules/core/img/brand/logo.png">
          </a>
          <a class="main-logo__link" data-ng-show="!authentication.user">
            <span class="ripple bgc-white"></span>
            <img src="modules/core/img/brand/logo.png">
          </a>
        </h1>
      </span>
      <span flex></span>


      <lx-search-filter closed theme="dark" data-ng-show="authentication.user"></lx-search-filter>

      <div hide-md hide-sm show-gt-md data-ng-show="authentication.user">
      <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="toggleSidenav('right')">
        <i class="mdi mdi-bell-ring-outline"></i>
      </button>
     </div>

      <div data-ng-show="authentication.user">
      <lx-dropdown position="right" from-top>
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
          <i class="mdi mdi-dots-vertical"></i>
        </button>
        <lx-dropdown-menu>
          <ul>
            <li>
              <span class="dropdown-link dropdown-link--is-header">Information</span>
            </li>

            <li>
              <span class="dropdown-link" ng-click="opendDialog('about')">About</span>
            </li>
            <li>
              <span class="dropdown-link" ng-click="alert()">What's New</span>
            </li>
          </ul>
        </lx-dropdown-menu>
      </lx-dropdown>
    </div>

    </div>
  </md-toolbar>
</div>
