<div flex-container="row" flex-gutter="24" flex-wrap data-ng-show="authentication.user" data-ng-controller="HeaderController">
  <div flex-item="18">
      <ul class="list">
         <li class="list-row">
               <div class="list-row__primary">
          <a data-ui-sref="settings.profile"><img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" width="40" height="40" class="img-round"></a>
               </div>

               <div class="list-row__content">
                  <a class="tc-black-2 display-block name-sidebar__link" data-ui-sref="settings.profile">{{authentication.user.displayName}}</a>
                   <span class="display-block fs-body-1 tc-black-2">{{authentication.user.email}}</span>
               </div>

               <div class="list-row__secondary">
                   <a href="/api/auth/signout" target="_self">
                   <i class="icon icon--xs icon--grey icon--flat mdi mdi-logout" lx-tooltip="Logout" tooltip-position="bottom"></i></a>
               </div>
           </li>
        </ul>

       <div class="divider divider--dark"></div>


<!---Starts here-->


<!-- <div collapse="!isCollapsed" flex-item="6" >
    <ul class="list mt++" data-ng-if="menu.shouldRender(authentication.user);">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{active: $state.includes(item.state)}" class="{{item.class}}" dropdown="item.type === 'dropdown'">

            <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-file"></i>
            </div>
        <div class="list-row__content">
        <a ng-switch-when="dropdown" >
          <span data-ng-bind="item.title"></span>
          <b class="caret"></b>
        </a>
      </div>

        <ul ng-switch-when="dropdown" class="list mt++">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
            <a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
      </li>
    </ul>
</div>-->




<!--ENDS-->

        <div flex-item="6" >

        <ul class="list mt++">

            <li class="list-row list-row" data-ng-repeat="item in menu.items" data-ui-sref="{{item.state}}" ng-click="close()">
                <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-{{item.icon}}"></i>
                </div>

                <div class="list-row__content">
                   <span data-ng-bind="item.title"></span>

                </div>
            </li>




        </ul>
    </div>





   </div>





  </div>
   <div class="sidebar-footer" layout="column" layout-align="end start">
 <div class="ml++ mt+">
 <span class="fs-body-2 display-block">Arawak ©</span>
<span class="fs-caption display-block"><a href="#">Privacy</a> &amp; <a href="#">Terms</a></span>
</div>

</div>
