/* CONFIGURATION */

/* Bodytext font */
$font: 'Roboto Condensed', sans-serif;

/* Font for headings */
$fontheadings: 'Roboto Condensed', sans-serif;


$darkPrimaryColor:   #455A64;
$primaryColor:       #607D8B;
$lightPrimaryColor:  #CFD8DC;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #536E7A;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
