
<md-toolbar class="md-tall bgc-light-blue-A700">
      <span flex></span>
      <h2 class="ml+ md-toolbar-tools-bottom fs-display-4 display-block">
        Directory
    </h2>
</md-toolbar>


<md-content class="md-padding" >

<section data-ng-controller="EmployeesController" data-ng-init="find()">
    <div class="page-header">

    </div>
    <div class="list-group">
        <a data-ng-repeat="employee in employees" data-ng-href="/#!/employees/{{employee._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="employee.created | date:'medium'"></span>
				by
				<span data-ng-bind="employee.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="employee.name"></h4>
      <span data-ng-bind="employee.lastName"></span>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!employees.$resolved || employees.length">
    	No Employees yet, why don't you <a href="/#!/employees/create">create one</a>?
    </div>
</section>

</md-content>
