<md-toolbar class="md-tall bgc-toolbar__primary">
  <span flex></span>
</md-toolbar>

<div class="responsive__container">

  <section data-ng-controller="EmployeesController" data-ng-init="find()">

    <div layout="row" layout-wrap layout-padding>
      <div flex="25" flex-md="50" flex-sm="100" data-ng-repeat="employee in employees">
        <div class="card">
          <a data-ng-href="/#!/employees/{{employee._id}}">
            <div class="card__img card__img--top">
              <img data-ng-src="{{employee.user.profileImageURL}}">
          </a>
          </div>
          <div class="p+">
            <span class="fs-headline tc-black-1 display-block" data-ng-bind="employee.user.displayName"></span>
            <span class="fs-subhead tc-black-2 display-block" data-ng-bind="employee.jobTitle"></span>
            <span class="fs-subhead tc-black-2 display-block" data-ng-bind="employee.department"></span>
            <div class="paragraph fs-body-1">
            </div>
          </div>
          <div class="card__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple>Profile</button>
            <button class="btn btn--m btn--orange btn--flat" lx-ripple>Message</button>
          </div>
        </div>

      </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!employees.$resolved || employees.length">
      No Employees yet, why don't you <a href="/#!/employees/create">create one</a>?
    </div>
  </section>

</div>


<div class="fab fab--btn__responsive">
  <button type="submit" class="btn btn--xl btn--default btn--fab" lx-ripple lx-tooltip="Add" tooltip-position="left">
    <i class="mdi mdi-pencil"></i>
  </button>
</div>
