
<section data-ng-controller="EmployeesController" data-ng-init="findOne()">

<md-toolbar class="md-tall bgc-light-blue-A700" md-scroll-shrink>
      <!-- <span flex></span>
			<img data-ng-src="{{employee.user.profileImageURL}}" width="40" height="40" class="img-round">
      <span class="ml+ md-toolbar-tools-bottom fs-headline display-block" data-ng-bind="employee.user.displayName">
      <span class="ml+ md-toolbar-tools-bottom fs-subhead display-block" data-ng-bind="employee.user.jobTitle"></span>
       -->
      <!-- fill up the space between left and right area -->
      <span flex></span>

        <ul class="list ml+++">
                    <li class="list-row">
                        <div class="list-row__primary mr+++">
                            <img data-ng-src="{{employee.user.profileImageURL}}" width="85" height="85" class="img-round">
                        </div>
                        <div class="list-row__content ml++">
                            <span class="display-block fs-display-2" data-ng-bind="employee.user.displayName"></span>
                            <span class="display-block fs-body-2" data-ng-bind="employee.jobTitle"></span>
                            <span class="display-block fs-body-1 tc-black-2" data-ng-bind="employee.department"></span>
                        </div>
                    <div class="list-row__secondary">
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
                    </div>
                </li></ul>

      <md-button>
      </md-button>
    </div>

</md-toolbar>

<md-content class="md-padding">


<div >
  <form editable-form name="editableForm" onaftersave="update()">
    <div>
      <!-- editable username (text with validation) -->
      <span editable-text="employee.firstName" e-name="firstName" e-required>{{ employee.firstName || 'empty' }}</span>
      <span editable-text="employee.lastName" e-name="lastName"  e-required>{{ employee.lastName || 'empty' }}</span>
      <span editable-text="employee.user.displayName" e-name="displayName"  e-required>{{ employee.user.displayName || 'empty' }}</span>
      <span editable-text="employee.department" e-name="displayName"  e-required>{{ employee.user.displayName || 'empty' }}</span>
    </div>

    <div class="buttons">
      <!-- button to show form -->
      <button type="button" class="btn btn--m btn--default btn--raised" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn--m btn--default btn--raised" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn--m btn--blue btn--raisedt" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>

  </form>

  <a href="#" data-ng-bind="employee.firstName" editable-text="employee.firstName" buttons="no"> </a>
</div>

<!-- change the path from /#/login to /?username=aaa&userpass=aaa#/login and reloads the page-->



<!-- <div class="mt++" flex-container="row" flex-gutter="24">
    <div flex-item>
        <form>
            <lx-text-field label="First and last name" fixed-label="true" icon="account">
                <input type="text" ng-model="textFields.fixedFirstName">
            </lx-text-field>

            <lx-text-field label="Phone number" fixed-label="true" icon="phone">
                <input type="text" ng-model="textFields.fixedLastName">
            </lx-text-field>

            <lx-text-field label="Email address" fixed-label="true" icon="email">
                <input type="email" ng-model="textFields.fixedEmail">
            </lx-text-field>

            <lx-text-field label="Location" fixed-label="true" icon="city">
                <input type="text" ng-model="textFields.fixedAdress">
            </lx-text-field>
        </form>
    </div>
</div> -->


<div class="pull-right" data-ng-show="authentication.user._id == employee.user._id || isAllowed(authentication.user)">
  <a class="btn btn-primary" href="/#!/employees/{{employee._id}}/edit">
    <i class="mdi mdi-pencil"></i>
  </a>
  <a class="btn btn-primary" data-ng-click="remove();">
    <i class="mdi mdi-delete"></i>
  </a>
</div>
<small>
  <em class="text-muted">
    Posted on
    <span data-ng-bind="employee.created | date:'mediumDate'"></span>
    by
    <span data-ng-bind="employee.user.displayName"></span>
  </em>
</small>
</md-content>




    <div class="fab fab--btn__responsive" ng-show="!editableForm.$visible">
      <button type="button" class="btn btn--xl btn--default btn--fab" lx-ripple lx-tooltip="Edit" tooltip-position="left" ng-click="editableForm.$show()">
        <i class="mdi mdi-pencil"></i>
      </button>
    </div>

    <div class="fab fab--btn__responsive" ng-show="editableForm.$visible">
      <button type="submit" class="btn btn--xl btn--default btn--fab" lx-ripple lx-tooltip="Save" tooltip-position="left" ng-disabled="editableForm.$waiting" ng-click="test ()">
        <i class="mdi mdi-check"></i>
      </button>
    </div>


</section>
