@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.social-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: inherit;
	display: block;
}

.user-profile-picture {
	min-height: 150px;
	max-height: 150px;
}




.login {
	padding: 10px;
	left: calc(50% - 200px);
	top: calc(50% - 13em);
	width: 400px;
	height: 460px;
	border-radius: 3px;
	background: white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
	overflow: hidden;
}

.login > i {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
}

.login .photo {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px 135px;
	border-radius: 50%;
	background: rgb(223, 223, 223);
	border: 13px solid rgb(223, 223, 223);
	overflow: hidden !important;
	transform: rotate(-1deg);
}

.login .photo:before {
	position: absolute;
	content: '';
	width: 35px;
	height: 35px;
	right: 20px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: scale(0);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-head 0.5s 0s forwards;
	-moz-animation: user-head 0.5s 0s forwards;
	animation: user-head 0.5s 0s forwards;
}

.login .photo:after {
	position: absolute;
	content: '';
	width: 140px;
	height: 220px;
	top: 38px;
	right: -32px;
	border-radius: 50%;
	background: #aaa;
	border: 2px solid #fff;
	transform: translateY(36px);
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: user-body 0.5s 0.3s forwards;
	-moz-animation: user-body 0.5s 0.3s forwards;
	animation: user-body 0.5s 0.3s forwards;
}

.login > span {
	display: block;
	text-align: center;
	margin: -15px 0;
	font-size: 15px;
}

form {
	position: relative;
	width: 350px;
	margin: 50px 15px;
}



/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}

@-webkit-keyframes user-head {
100% {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
} }
@-moz-keyframes user-head {
100% {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
} }
@keyframes user-head {
100% {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
		transform:scale(1);
} }

@-webkit-keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	transform:translateY(2px);
} }
@-moz-keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	transform:translateY(2px);
} }
@keyframes user-body {
100% {
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	transform:translateY(2px);
} }
