.sidebar-menu__link {
  display: block;
  padding: 0 16px;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  line-height: 48px;
  text-decoration: none;
}
.name-sidebar__link {
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: rgb(235, 239, 242);
}
